/* styles.css */
.product-container-22 {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(249, 239, 241);
}
.product-container-22 h1{
  display: flex;
  align-items:center;
  justify-content: center;
  margin: 0px;
}

.container-22 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.section-22 {
  margin-bottom: 40px;
}
.section-0-22{
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.product-grid-22,
.category-grid-22 {
  display: grid;
  gap: 20px;
}

.product-grid-22 {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.category-grid-22 {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product-card-22,
.category-22 {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  padding: 15px;
}

.image-22 {
  width: 100%;
  height: 150px;
  background-color: #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
}
.image-22 img {
  height: 150px;
  width: 100%;
}

button.view-all-22 {
  /* margin-top: 20px; */
  padding: 10px 20px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
button.view-all-0-22 {
   margin: 10px; 
  padding: 10px 20px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
}

button.view-all-22:hover {
  background-color: #444;
}
