
.order-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.order-container img{
    /* height: 200px; */
    width: 100px;
    object-fit: contain;
    aspect-ratio: 1;
}
.order-img{
    flex-wrap: wrap;
}
.order-design-images {
    display: flex;
    gap: 8px;
  }
  
  .order-design-images img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
  }
.order-container h1 {
    text-align: center;
    color: #333333;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.order-container p {
    color: #555555;
    margin: 5px 0;
    font-size: 1rem;
}

.order-container ul {
    list-style: none;
   border: 1px solid #ddd;
      display: flex;
      flex-direction: row;
      gap:10px;
}

.order-container ul li {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    margin: 10px 0;
    padding: 15px 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
}

.order-container ul li:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.order-container ul li p {
    margin: 5px 0;
}

.order-container ul li p strong {
    color: #212529;
}

.order-container .no-orders {
    text-align: center;
    color: #6c757d;
    font-size: 1.2rem;
}

.order-container .price {
    font-weight: bold;
    color: #28a745;
}

.order-container .status {
    font-weight: bold;
    text-transform: uppercase;
}

.order-container .status.pending {
    color: #ffc107;
}

.order-container .status.completed {
    color: #28a745;
}

.order-container  .status.cancelled {
    color: #dc3545;
}
