* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-div {
  width: 100%;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* border: 1px solid red; */
}
.div-one {
  width: 25%;
  /* border: 2px solid black; */
}
.div-two {
  width: 65%;
  /* border: 2px solid red; */
}
.top-image {
  padding-top: 10px;
  padding-left: 55px;
}
h1 {
  font-family: Poppins;
  font-size: 27px;
  font-weight: 600;
  text-align: left;
  padding-left: 55px;
}
hr {
  width: 500px;
  margin: 10px 0px 30px 55px;
  border: 1px solid#EAEAEA;
}
.card-div {
  width: 90%;
  margin: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  box-shadow: 5px 6px 17px 0px #5c5c5c1a;
  justify-self: center;
  background-color: #ffffff;
  line-height: 0;
}
.card-img {
  width: 50%;
  /* border: 2px solid green; */
}
.card-img > img {
  width: 90%;
  /* border: 2px solid green; */
  border-radius: 10px;
  margin: 15px;
}
.card-details {
  /* float: right; */
  width: 50%;
}
.card-details > h4 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
}
.card-details > p {
  font-family: Roboto;
  font-weight: 400;
  color: #1d1d1dd1;
  line-height: 0.5;
}
.card-details > h5 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}
.Retailerbutton {
  width: 70%;
  display: flex;
  border: none;
  background-color: white;
  cursor: pointer;
}
.Retailerbtn1 {
  width: 100%;
  padding: 18px 0;
  background-color: #248f98;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 3px 7px 0px #3a74721a;
}

.Retailerbtn2 {
  width: 100%;
  padding: 18px 0;
  background-color: white;
  color: #248f98;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #248f98;
  box-shadow: 2px 3px 7px 0px #357a781a;
}
/* .card-ryt-icon{
  margin-bottom:  220px;
  margin-right:  80px;
} */
h2 {
  color: #248f98;
}
.last-heading {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.last-heading > h2 {
  padding: 55px;
  font-size: 20px;
  font-weight: 700;
}
.div-third {
  width: 10%;
  /* border: 2px solid brown; */
}
.image-one {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.image-one > img {
  width: 50px;
}
.image-two {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 350px;
}
.image-two > img {
  width: 100px;
}
.image-three {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 600px;
}
.image-three > img {
  width: 100px;
}
