 .wallet-container-all{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  .wallet-container {
    width: 60%;
    padding: 0px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 600px;
    background-image: url("./images/diamond.png"), url("./images/triangle.png");
    background-size: 200px, 200px;
    background-position: 290px center, 520px 410px;
    background-repeat: no-repeat;
  }
  
  .wallet-header {
    display: flex;
    flex-direction: column;
    margin: 20px 60px;
  }
  
  .wallet-search-bar {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
  }
  
  .wallet-search-bar input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
  }
  
  .wallet-columns {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }
  
  .wallet-column {
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .wallet-project-column {
    background-color: #b3e5fc;
    width: 30%;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
    height: 400px;
  }
  
  .wallet-column h3 {
    margin: 10px;
  }
  
  .wallet-project-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: black;
    padding: 6px;
  }
  
  .wallet-project-item i {
    background-color: #29b6f6;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 20px;
    margin-right: 10px;
  }
  
  .wallet-budget-column {
    background-color: #ff8a80;
    width: 15%;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
    height: 400px;
    color: black;
  }
  
  .wallet-budget-column p {
    padding: 20px;
  }
  
  .wallet-spend-column {
    background-color: #a5d6a7;
    position: relative;
    width: 15%;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
    height: 400px;
    color: black;
  }
  
  .wallet-spend-column p {
    padding: 20px;
  }
  
  .wallet-dropdown {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 110%;
    margin: 5px;
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid black;
    position: absolute;
    top: 25%;
    left: 15%;
    transform: translate(-50%, -50%);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
  }
  
  .wallet-dropdown span {
    display: block;
    gap: 20px;
  }
  